body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0;
 }
 img {
    display: block;
    border: 0;
 }
 ul,ol,li{
    list-style: none;
 }
 body{
 	font-size: 12px;
 	font-family: "微软雅黑";
 }
 a {
 	display: block;
 	color: #000;
    text-decoration: none;
    outline: 0;
}
em,i,strong,b{
    font-style: normal
 }
 input {
    padding-top: 0;
    padding-bottom: 0;
    font-family:"微软雅黑";
 }
 input::-moz-focus-inner {
    border: 0;
    padding: 0
 }
 .clearfix:after{
 	content: ".";
 	display: block;
 	clear: both;
 	height: 0;
 	overflow: hidden;
 	visibility: hidden;
 }

